.football-team {
  width: 100%;
  color: #333333;
}

.football-team__header {
  width: 100%;
  min-height: 300px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.football-team__name {
  max-width: fit-content;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: oblique;
  font-weight: 600;
  font-size: 48px;
  line-height: 122%;
  letter-spacing: 2px;
}

.football-team__logo {
  width: 500px;
}