.football-team {
  width: 100%;
  color: #333333;
}

.football-team__container {
  width: 100%;
  min-height: 300px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  margin: 50px 20px 0;
}

.football-team__info {
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.football-team__name {
  max-width: fit-content;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 122%;
  letter-spacing: 2px;
  padding-bottom: 20px;
}

.football-team__location {
  max-width: fit-content;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 122%;
}

.football-team__logo-container {
  width: 500px;
  height: 500px;
}

.football-team__logo {
  width: 100%;
}